<!DOCTYPE html>
<html>
    <head>
        <title>Resultado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Datos procesados</h2>
        
        <table>
            <tr>
                <th>Nombre Completo</th>
                <th>Edad</th>
                <th>Estado Edad</th>
            </tr>
            <tr>
                <td th:text='${nombreCompleto}'></td>
                <td th:text='${edad}'></td>
                <td th:text='${tipoEdad}'></td>
            </tr>
        </table>
        
        <p th:if='${edad>=18}'>Puede acceder a contenido para mayores de 18.</p>
        <p th:unless='${edad>=18}'>No puede acceder a contenido para mayores de 18.</p>
    </body>
</html>
